@tailwind base;
@tailwind components;
@tailwind utilities;

.kumbh-sans-regular {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.kumbh-sans-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

#image1, #image2, #image3, #image4{
  min-width: 100vw;
  scale: 1.2;
}

@media (max-width: 768px) {
  #image1, #image2, #image3, #image4{
    display: none;
  }
}

.standard-margin{
  margin-left: auto;
  margin-right: auto;
}

.standard-padding{
  padding-left: 6em;
  padding-right: 6em;
}

@media (max-width: 768px){
  .standard-padding{
    padding-left: 4em;
    padding-right: 4em;
  }
}

.logo:hover{
  transform: rotate(5deg) scale(1.1);
}

.z-999{
  z-index: 999;
}

img {
  max-width: 100vw;
  object-fit: cover;
}


@media (min-width: 768px){
  .mask-custom-shape {
    mask-image: radial-gradient(circle, black, transparent);
    -webkit-mask-image: radial-gradient(circle, black, transparent);
  }
}

#scrollContainer{
  padding-left: 0;
  padding-right: 0;
}

#workflowContainer{
  background-image: url(/assets/bgs/workflow.png);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#aboutMeContainer, #codingInfoContainer{
  background-image: url(/assets/bgs/aboutme.png);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#techStackContainer{
  background-image: url(/assets/bgs/skills.png);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#projectsContainer{
  background-image: url(/assets/bgs/projects.png);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.standard-bg{
  background-image: url(/assets/bgs/other.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}