@tailwind base;
@tailwind components;
@tailwind utilities;

.kumbh-sans-regular {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.kumbh-sans-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

/* #backgroundImage{
  height: 100vh; 
  background: url('/assets/background.png') center / cover fixed;
} */

#image1, #image2, #image3, #image4{
  min-width: 1000px;
  scale: 1.2;
}

.standard-margin{
  margin-left: auto;
  margin-right: auto;
}

.standard-padding{
  padding-left: 6em;
  padding-right: 6em;
}

@media (max-width: 768px){
  .standard-padding{
    padding-left: 4em;
    padding-right: 4em;
  }
}

.logo:hover{
  transform: rotate(5deg) scale(1.1);
}

.z-999{
  z-index: 999;
}

@media (min-width: 768px){
  .mask-custom-shape {
    mask-image: radial-gradient(circle, black, transparent);
    -webkit-mask-image: radial-gradient(circle, black, transparent);
  }
}

#scrollContainer{
  padding-left: 0;
  padding-right: 0;
}